<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<p th:if="${message}" th:text="${message}">

</p>
<table>
    <tr>
        <th>時刻</th>
        <th>画像</th>
        <th>受け取る?</th>
    </tr>
    <tr th:each="data :${dataList}">
        <td>
            <span th:text="${data.dateTime}"></span>
        </td>
        <td>
            <a th:href="'/detail/' + ${data.id}"><img th:src="'/image/' + ${data.id}"/></a>
        </td>
        <td>
            <form action="/reply" method="POST">
                <input type="submit" name="accept" value="受け取る"/>
                <input type="submit" name="deny" value="拒否する"/>
                <input type="hidden" name="id" th:value="${data.id}"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>